---
layout: default
---

<div class="home">
    
    <p style="text-align:center; font-size:1.2em;"><i>Copywriting, meta-learning, and the mechanics of spirituality.</i> </p>
    
    &nbsp;

  <h2>Me in 2 Sentences</h2>

    <p>Copywriter, former biologist, <a href="http://typelogic.com/intp.html">INTP</a>. Student of the human psyche and Nature (with a big "N").</p> 
    
    &nbsp;

  <h1>Browse This Site</h1>
    
    <p>I've swept away all distractions with uber-simple design to leave you with the beating heart of my work… </p> 
    <p>…The words. </p>
    
    <p>Click whatever interests you:</p>
    
    <ul>
        <li>My <a href="/background">background</a> (in brief).</li>
        <li>My writing <a href="/hire">services</a>.</li>
        <li>What I’m doing <a href="/now">now</a>.</li>
        <li>Ways to <a href="/connect">connect</a> with me.</li>
        <li>My Newsletter <a href="/newsletter">back-issues</a>.</li>
    </ul>

    
    &nbsp;
    
    
    <h1>The Topics I Cover Here</h1>
    
    <p>My tagline was carefully chosen. Here's the breakdown:</p>

    &nbsp;
    
    <h2>Copywriting</h2>

    <blockquote>
        <p>If you want an awesome career, choose a skill and relentlessly develop it like you're an athlete in intense, focused training.</p>
        <p>	– Cal Newport</p>
    </blockquote>

    <p>I'm told I have a knack for writing. I like it. It flows from my brain through my speedy fingers with ease (usually). </p>

    <p>I'm also told that a strength comes from taking a natural talent and relentlessly honing it into a white-hot skill. </p>

    <p>Copywriting is crazy important to business. And the more I learn it, the more I realise just how difficult it is to be <i>truly</i> world-class at it. It takes a talent (like mine), a dedication (like mine), and <b>many</b> hours of deliberate practice (as I'm doing) to reach the level of money-raining-from-sky – but that level is achievable. </p>

    <p>I want to make money rain onto businesses that I believe in… businesses that the world needs. Call me idealistic if you like, I don't mind. ;) </p>

    <p>I write about copywriting from time to time on this site. Little tactics, big-level principles, and the marketing systems that support great copy.</p>

    &nbsp;
    
    <h2>Meta-Learning</h2>
    
    <p>Why spend 10,000 hours getting world-class when it only really needs 1,000? Or 500?</p>

    <p>You can't replace the intangible "intuition" of long-term experience, but there is a <i>huge</i> amount of the learning process that could be much faster. </p>

    <p>Meta-learning means "learning about learning". It's a topic I'm enamoured by for two reasons:</p>

    <ol>
        <li>Because of its awesome real-world applications.</li>
        <li>Because I <i>love</i> discovering the Nature of something, and then using that it to our advantage (instead of "forcing" things to work "our" way).</li>
    </ol>

    <p>Most of my meta-learning chops are currently being applied to copywriting (obvs). Aside from that, I'm using it to acquire fun little "side skills" like speaking in Esperanto, and reviving old childhood skills like playing the piano and drawing cartoons.</p>

    &nbsp;
    
    <h2>The Mechanics of Spirituality</h2>
    
    <p>Bare with me here – I've discovered the true "secret" to success. </p>

    <p>Like the British despising the dog breed "German Shepherd" after WW2, we have ignored spiritual practices only because of what we <i>associate</i> them with, not because they don't work. </p>

    <p>If you strip all those associations away, you discover what spirituality is really about:</p>

    <p><b>Emotion.</b></p>

    <p>Specifically, ways humans learned to dismantle negativity, and replace it with the energy and power of <i>genuine</i> positivity. (i.e. <a href="https://www.youtube.com/watch?v=GXy__kBVq1M">The Happiness Advantage</a>.) </p>

    <p>After three years I've learned how to pull up and "let go" suppressed and even <i>sub-consciously repressed</i> emotion. I'm talking dark, often baffling emotion that has been secretly tripping me up since childhood. </p>

    <p>If you're into personal development, you've heard all about "installing" habits and using "prosperity programming" to change your thoughts, actions, and results. If that's all there is to it, why does it so often fail? </p>

    <p>…Because you're trying to write new programs over buggy old code. You have to dig through the code and dismantle those bugs if you want the new program to run flawlessly, or even at all. </p>

    <p>"The mechanics of spirituality" describes the only methods I've found that <i>truly</i> clear the decks for future growth. </p>

    <p>I need more time to prove it, but after three years (of skeptical testing), I am convinced that dismantling repressed emotion is the real "secret" to personal transformation and roaring success in life. </p>

    &nbsp;

  <p class="rss-subscribe">(Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>)</p>

</div>