---
layout: default
---

<div class="home">
    
    <p style="font-size:1.2em;"><i><b>Stagnant Sales?</b></i> </p>

  <h1>Elevate Your Profits With Copywriting That Taps Into The Mass Desire Of Your Market
</h1>

    <p><b>Meet a copywriter who can reach into your prospect’s psychology and pull out compelling sales appeals. Funnel the awesome force of market desire through your business’s offerings and see your sales grow.</b></p> 
    
&nbsp;
    
    <p>Sales are hard. </p>

    <p>They are also the #1 priority of every business. </p>

    <p>Why are sales hard? Because they require you to tap into a ferocious natural force. </p>

    <p>This natural force is as powerful to commerce as gravity is to physics, or combustion is to the engine. </p>

    <p>And when you tame this force of nature – when you direct it through your offerings – profits have a chance to skyrocket. </p>

    <p>The force I’m talking about is mass desire. </p>

    <p>Every market has multiple mass desires to choose from. They run through every individual in that group. They are what define a market. </p>

    <p>It’s not easy to know what the best mass desires are for your business. They change over time. </p>

    <p>If you have anything less than a copywriting professional working on your sales material, huge amounts of potential profits will likely slip through your fingers. </p>
    
    &nbsp;
    
    <hr>
    
    &nbsp;
    
    <p><b><a href="https://calendly.com/james-mathison/15min">Free Copywriting Consult</a> </b> << Click here and select a time that works for you.</p> 
    
    &nbsp;
    
    <hr>
    
    &nbsp;

  <h2>My Methods: How To Construct Your Sales Engine Material</h2>

    <h3>1. You Need A Profitable Control (Not Just A Passable Page)</h3>
        <p>A control is an advertising piece that brings the highest, most solid results of anything else you have. It is used as “the control” to compare new ads or sales pages with. With those reliable conversions as a baseline, you can work on new ideas to further optimise, or just leave as-is while you work on other parts of your business using the new revenue. </p>

    &nbsp;
    
    <h3>2. Optimise Your Results By Demanding Everything Be Tested</h3>
        <p>Building you a control means I stick around as your results roll in. I care deeply about how your copy performs, and I’ll stand beside you as you watch your conversion rates play out. Everything I create needs to prove itself against the market. That’s why you’ll get split test ideas for key pieces of writing, unprompted, at no extra charge. That’s just how I like to work. </p>

    &nbsp;
    
    <h3>3. Base Your Material On Deep Psychographic Research</h3>
        <p>It’s easy to base customer research on demographics (age, place of residents, number of cats, etc). Demographic traits, however, only help because sometimes they overlap with psychographic traits (how you think and feel about certain things). Your copy should be built on insights pulled from the market’s inner world, not their external situation. That’s the only way to create material that hits them deep. </p>

    &nbsp;
    
    <h3>4. Apply The Personal Touch: Dig Into Market Psychology With Interviews</h3>
        <p>If necessary (and convenient for you), I will meet or talk with people from your target market. These informal interviews will pull out ideas and phrases that makes your copy sound like it’s reading their mind! </p>

    &nbsp;
    
    <h3>5. Structure Your Copy On Principles Pulled From The Best Sales Letters Of All Time</h3>
        <p>Your copywriter should be one who trains daily by hand-writing and dissecting the most profitable sales letters in history. In addition to this, I continuously study books written by legendary copywriters of the past. Your copy won’t be swayed by fashionable “trends” based on the untested opinions that knock around the ad-man echo-chamber. Your copy will be crafted from time-tested principles learned from the very best copywriters of the last century. </p>

    &nbsp;
    
    <h3>6. Keep Your Business’s Future Success In Mind At All Times</h3>
        <p>By seeing keeping the whole sales funnel in mind, I’ll write your copy in a way that boosts short-term sales as well as protect long-term profits. Pushing too hard or using tacky sales tactics will hurt lifetime customer value. When you convert a customer, you deserve that customer to stay a happy source of revenue for many years to come. You get that kind of loyalty by leaving them feeling satisfied (and, even more importantly, respected) after every transaction. </p>
    
    &nbsp;
    
    <hr>
    
    &nbsp;
    
    <p><b><a href="https://calendly.com/james-mathison/15min">Free Copywriting Consult</a> </b> << Want to know more? Select a call-time from this list.</p> 
    
    &nbsp;
    
    <hr>
    
    &nbsp;

</div>