---
layout: default
---

<div class="home">
    
    <p style="text-align:center; font-size:1.2em;"><i>Copywriting, productivity, and the mechanics of spirituality.</i> </p>
    
    &nbsp;

  <h2>Me in 4 Sentences</h2>

    <p>Copywriter, former biologist, and student of Nature (with a big "N").</p> 

    <p>As an <a href="http://typelogic.com/intp.html">INTP</a>, I love practical philosophy… understanding and <i>working with</i> the Nature of something to get better results. A London native, I have a love-affair with Europe, and with long-term travel. I care a lot about food production, business health, and spiritual development (in a practical, non-religious way). </p>
    
    &nbsp;

  <h1>What I Do</h1>
    <p>When I was younger I noticed a certain madness in the world. Starting with our food supply (and later, many other things), I learned we now have proven approaches that beat old methods <i>in every way</i>, yet few seemed to notice. </p>

    <p>I quit science. It was clear we have a bigger problem implementing what we already know than with discovering more. </p>

    <p>However, <b>the only chance</b> I had to impact the bumbling systems of this world was to first learn how money was made, and learn it <i>well</i>. </p>
    
    <h2>Copywriting</h2>
    <p>So began my journey <b>to one day stand amongst the world’s top 0.1% of copywriters</b>. </p>
    
    <p>Now, I write sales pages and articles for companies I believe in to help them generate more money and make a bigger impact. <a href="/hire">Learn more here…</a> </p>
    
    &nbsp;

  <h1>What You’ll Find on This Site</h1>
    
    <ul>
        <li>Learn a more about my <a href="/background">background</a>.</li>
        <li>Find out what I’m doing <a href="/now">now</a>.</li>
        <li><a href="/connect">Connect</a> with me.</li>
        <li>Request <a href="/hire">my services</a>.</li>
    </ul>

    <p>You can also find the <a href="/newsletter">back-issues</a> to my newsletter. </p>

    <p>Sign up and and never miss another short, practical insight into how you can get more done by working with Nature instead of dealing with the constant ball-ache of fighting against it. </p>
    
    &nbsp;

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>